<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>About Me</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Research Publication</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-10">
                  <h3>Career Objective</h3>
                  <p style="text-align:justify">Hardworking, passionate and creative <strong>Data Science PhD candidate</strong> currently doing Doctor of Philosophy degree with <strong>Causal Model for Recommendation</strong> topic at <strong>University of Technology Sydney</strong>. I have been awarded twice as Dean's List during the Postgraduate period. With over 3 years’ full-time industry work experience and multiple Top-tier academic papers published, activately seeking new opportunity to utilise current data science knowledge and programming skills in a demanding and exciting University / Research Organisation / Company. 
                  <br><br>
                  I can offer a comprehensive knowledge of causal inference, recommendation system, model explainability, data mining, data analytics, machine learning, algorithm design, programming and system agile development to exceed organisation's targets and research goals accurately and quickly.</p>
                  <br>
                  <strong>Location</strong>: Sydney, NSW, Auatralia<br>
                  <strong>Contact Number</strong>: 0432995885<br>
                  <strong>E-mail</strong>: Dianer.Yu-1@student.uts.edu.au / yde244910158@gmail.com
                </div>
                  
                <div class="col-xs-12 col-md-2">
                  <img src="./static/assets/images/profil.jpg" class="img-responsive" alt="">
                </div>

                <div class="col-xs-12 col-md-10">
                  <h3>Education</h3>
                  <p style="text-align:justify">
                    <ul class="text-left">
                      <li><strong>Doctor of Philosophy</strong> (01/2022 to current)
                          <br>
                          University of Technology Sydney, Sydney, Australia
                          <br>
                          Research Topic: Causal Model for Recommendation
                          <br>
                          Supervised by: Prof. Guandong Xu and Dr Qian Li
                      </li>
                      <li><strong>Master of Information Technology</strong> (07/2020 – 12/2021)
                          <br>
                          University of Technology Sydney, Sydney, Australia
                          <br>
                          Major: Data Science (GPA 6.8/7, Rewarded Twice as Dean List)
                      </li>
                      <li><strong>Bachelor of Science in Information Technology</strong> (07/2015 – 07/2018)
                        <br>
                        University of Technology Sydney, Sydney, Australia
                        <br>
                        Major: Enterprise System Development
                      </li>
                    </ul>
                  </p>
                </div>

                <div class="col-xs-12 col-md-10">
                  <h3>Key Skills Summary</h3>
                  <p style="text-align:justify">
                    <ul class="text-left">
                      <li><strong>Data Science</strong>: Causal recommendation, Data analytics, Machine Learning, Deep learning, Natural language process, Statistics, Data visualization.</li>
                      <li><strong>Programming languages</strong>: Python, R, SQL, Java, JavaScript, PHP, Swift5.</li>
                      <li><strong>Software development methodology</strong>: Agile, waterfall.</li>
                      <li><strong>Front-end development</strong>: Flask, C-Panel, WordPress, PrestaShop, React Redux and MERN.</li>
                      <li><strong>Back-end development</strong>: MySQL, MongoDB, Firebase.</li>
                      <li><strong>Cloud service and DevOps</strong>: AWS, Salesforce, Docker, K8S.</li>
                    </ul>
                  </p>
                </div>

                <div class="col-xs-12 col-md-10">
                  <h3>Employment History</h3>
                  <p style="text-align:justify">
                    <ul class="text-left">
                      <li><strong>Academic Tutor (University of Technology Sydney)</strong> (01/2022 to current)
                          <ul>
                            <li>Providing AI-related lectures and tutorials (Advanced Database, Capstone Project, R Programming) to postgraduate and undergraduate students, resolving the daily question from students, and organizing capstone projects for over 200 students and 20 supervisors.</li>
                          </ul>
                      </li>
                      <li><strong>Developer Programmer (All Employment Solutions)</strong> (08/2018 – 03/2022)

                            <ul>
                              <li>Providing expertise in data storage structures, data mining, data warehouse and data cleansing.</li>
                              <li>Processing millions-levels data and translating facts to inform strategic business decisions.</li>
                              <li>Coming up with reasonable solutions to costly business problems such as marketing strategy.</li>
                              <li>Using python to custom build machine learning model to resolve customer classification related question for the company’s marketing purpose.</li>
                              <li>Conducting internal tests with the other departments, collecting feedbacks, and making relevant adjustments and enhancements.</li>
                              <li>Taking advantage of Cloud AWS service that allows ultimate scalability and high availability to increase the customer/user traffic in order to gain more data information, then apply data to machine learning research problem such as AB test for the user in different location. </li>
                             </ul>       
                        </li>

                        <li><strong>Developer Programmer (Bedworks)</strong> 07/2019 – 07/2020

                            <ul>
                              <li>Build machine learning models based on the research results from a large amount of customer raw data to better advertise.</li>
                              <li>Agile development methodology used to develop and implement an online shopping management system through PrestaShop platform.</li>
                              <li>Writing code, instruction manuals and guidelines, applying relevant changes according to program updates, and providing internal trainings to relevant departments on the using of the programs.</li>
                              <li>Providing troubleshooting and technical support.</li>
                             </ul>       
                        </li>
                    </ul>
                  </p>
                </div>



                <div class="col-xs-12 col-md-10">
                  <h3>Honor & Awards</h3>
                  <p style="text-align:justify">
                  <ol class="text-left">
                    <li>UTS FEIT Postgraduate Dean's List 2021</li>
                    <li>UTS FEIT Postgraduate Dean's List 2022</li>
                    <li>UTS Vice Chancellor's Conference Fund (VCCF) 2022</li>
                  </ol>  
                  </p>
                </div>

                <div class="col-xs-12 col-md-10">
                  <h3>References</h3>
                  <p style="text-align:justify">
                  <ol class="text-left">
                    <li>Guandong Xu – Professor at UTS, Sydney<br>
                    Mobile: 0431588665, Email: guandong.xu@uts.edu.au</li>
                    <li>Qian Li – Lecturer at Curtin University, Perth<br>
                    Email: qli@curtin.edu.au</li>
                    <li>Dean Long - Marketing Manager at Bedworks, Sydney (currently working at LinkTree)<br>
                    Mobile: 0451430842</li>
                  </ol>  
                  </p>
                </div>



              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>